.sidebarOptions {
    display: flex;
    /* aligns icons with text */
    align-items: center; 
    color: grey;
    height: 40px;
    cursor: pointer;
    /* transition: 200ms color ease-in; */
}

.sidebarOptions:hover { 
    color: white;
}

.sidebarOptions_icon {
    padding: 10px;
}

