.sidebarOptions {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    /* transition: 200ms color ease-in; */
}

.sidebarOptions:hover { 
    color: white;
}